@charset "utf-8";
/**
 * Created by chenyin on 2018/5/22.
 */
#searchBox{
  position: relative;
  margin-bottom: 10px;
}
.grid-content {
  margin-bottom: 10px;
}
.grid-content>.el-input{
  width: 65%!important;
}
.el-input {
  font-size: 12px!important;
}
.grid-content .el-select{
  width: 65%!important;
}
.grid-content .multiselect-native-select{
  width:65% !important;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 65%!important;
}
.leftBox1{
  margin-right: 110px;
}
.leftBox2{
  margin-right: 220px;
}
.rightBox1{
  position: absolute;
  right: 0;
  top: 0;
  width: 110px;
  text-align: right;
}
.rightBox2{
  position: absolute;
  right: 0;
  top: 0;
  width: 220px;
  text-align: right;
}
#searchBox .grid-content>label{
  width: 60px!important;
  text-align: right;
}
@media screen and (min-width:1461px){
  #searchBox .el-col-6{
    width: 20%;
  }
  #searchBox .el-col-12{
    width: 40%;
  }
}
@media screen and (max-width:1461px){
  #searchBox .el-col-6{
    width: 25%;
  }
  #searchBox .el-col-12{
    width: 50%;
  }
}
/*其他*/
.wmsFoot{
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 20px 50px;
  width: 100%;
  margin: 0!important;
  border-top: 15px solid #F0F1F5;
  z-index: 999;
}
.inpNum-g{
  width: 100px;
  height: 24px;
  /*color: #606266;*/
  border-radius: 4px;
  /*border:1px solid #dcdfe6;*/
  text-align: center;
}
.inpNum-g:focus {
  /*outline:none;*/
  /*border: 1px solid #409EFF;*/
}
.cen-g{
  text-align: center;
  margin-bottom: 0;
  line-height: 30px;
}
.initP-g{
  margin-bottom: 0;
  line-height: 30px;
}
